@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --darkRed: #7D0633;
    --brown: #31112C;
    --peach: #F2A07B;
    --beige: #FBDCC4;
}

/* REMOVE: */
* {
    /*border: 1px solid black;*/
}

body {
    background-color: var(--peach);
    color: var(--brown);
    font-family: 'Comfortaa', cursive;
}

.button {
    background-color: var(--brown);
    color: var(--beige);
    border: none;

}

.textfield {
    background-color: var(--beige);
    border: groove var(--brown);
    margin: 1.5px;
}

/* extra small and down - phones */
@media only screen and (max-width: 600px) {

}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
/*@media only screen and (min-width: 992px) {...}*/