@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --darkred: #7D0633;
    --brown: #31112C;
    --peach: #F2A07B;
    --beige: #FBDCC4;
}

/* REMOVE: */
* {
    border: 1px solid black;
}
.div-loading {

}

.div-loaded {

}

/*.loader {*/
/*    position: fixed;*/
/*    top:-100%; right:-100%; left:-100%; bottom:-100%;*/
/*    margin:auto;*/
/*    z-index:0;*/
/*    border: 20px solid var(--beige);*/
/*    border-top: 20px solid var(--brown);*/
/*    border-bottom: 20px solid var(--brown);*/
/*    border-radius: 20%;*/
/*    width: 120px;*/
/*    height: 120px;*/
/*    animation: spin 4s linear infinite;*/
/*}*/

/*@keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

body {
    background-color: var(--peach);
    color: var(--brown);
    font-family: 'Comfortaa', cursive;
}

.button {
    background-color: var(--brown);
    color: var(--beige);
    border: none;

}

.textfield {
    background-color: var(--beige);
    border: solid 3px var(--brown);
    margin: 1.5px;
}

/* extra small and down - phones */
@media only screen and (max-width: 600px) {

}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
/*@media only screen and (min-width: 992px) {...}*/